# Python extensions
*.py[cod]

# SQLite extensions
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
downloads
develop-eggs
.installed.cfg
lib
lib64
development.ini

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Emacs backup
*~
