[buildout]
parts = admin
develop = .

[admin]
recipe = zc.recipe.egg
dependent-scripts = true
eggs = admin
interpreter = python

# [supervisor]
# recipe = collective.recipe.supervisor
# plugins =
# 	superlance
# port = 10001
# user = edit_before_install
# password = edit_before_install
# programs = 
# 	 10 billwatcher ${buildout:bin-directory}/pserve ${buildout:directory}/config/production.ini